// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import 'node_modules/font-awesome/scss/font-awesome';

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {margin-bottom: 60px; overflow-x: hidden;}
.fa {font-size: 2.2em;}
.format-button {margin: 75px 0 10px 0;}
.save-button {margin-top: 15px;}
p {
    &.error-message {
        color: #a94442;
        margin: 5px 0;
    }
}
