// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://use.fontawesome.com/10bf5a17a3.css);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {margin-bottom: 60px; overflow-x: hidden;}
.fa {font-size: 2.2em;}
.format-button {margin: 75px 0 10px 0;}
